<% provide(:title, "Log in") %>
<!-- Sign in Start -->
<section class="sign-in-page">
  <div class="container p-0">
    <div class="row no-gutters height-self-center">
      <div class="col-sm-12 align-self-center page-content rounded">
        <div class="row m-0">
          <div class="col-sm-12 sign-in-page-data">
            <div class="sign-in-from bg-primary rounded">
              <h3 class="mb-0 text-center text-white">Sign in</h3>
              <p class="text-center text-white">Enter your email address and password to access admin panel.</p>
              <%= form_for(:session, url: login_path, class: "mt-4 form-text") do |f| %>
                
                <div class="form-group">
                  <%= f.label 'Email address', for: 'exampleInputEmail1', class: 'text-white' %>
                  <%= f.email_field :email, required:true, class: 'form-control mb-0', id: 'exampleInputEmail1', placeholder: 'Enter email' %>
                </div>
                <div class="form-group">
                  <%= f.label "Password", for: 'exampleInputPassword1', class: 'text-white' %>
                  <a href="#" class="float-right text-light">Forgot password?</a>
                  <%= f.password_field :password, required:true, class: 'form-control mb-0', id: 'exampleInputPassword1', placeholder: 'Password' %>
                </div>
                <div class="sign-info text-center">
                  <%= f.submit "Log in", class: "btn btn-white d-block w-100 mb-2" %>
                  <span class="text-light dark-color d-inline-block line-height-2">Don't have an account?
                    <%= link_to 'Sign up', register_path, class: "text-white" %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Sign in END -->