<!-- Page Content  -->
<div id="content-page" class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Libary Lists</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <a href="<%= new_libary_location_path %>" class="btn btn-primary text-white">Add New Library</a>
            </div>
          </div>
          <div class="iq-card-body">
            <div class="table-responsive">
              <table class="data-tables table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                  <th width="10%">Name</th>
                  <th width="10%">City</th>
                  <th width="10%">Reference</th>
                  <th width="55%">Location Desc</th>
                  <th width="10%">Action</th>
                </tr>
                </thead>
                <tbody>
                <% @libary_locations.each do |libary_location| %>
                  <tr>
                    <td><%= libary_location.name %></td>
                    <td><%= libary_location.city %></td>
                    <td><%= libary_location.ref %></td>
                    <td>
                      <p class="mb-0"><%= libary_location.location_desc %></p>
                    </td>
                    <td>
                      <div class="flex align-items-center list-user-action">
                        <a class="bg-primary text-white" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="<%= edit_libary_location_path(libary_location) %>"><i class="las la-edit"></i></a>
                        <%= link_to libary_location, method: :delete, data: { confirm: 'Are you sure?' }, class:"bg-primary text-white" do %>
                          <i class="las la-trash-alt"></i>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>