
<!-- Page Content  -->
<div class="iq-card-body">
  <%= form_with(model: book, local: true) do |form| %>
    <% if book.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

        <ul>
          <% book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, id: :book_title, required: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :author %>
      <%= form.text_field :author, id: :author, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= form.label 'Genre' %>
      <%= form.select(:categories_id, options_from_collection_for_select(@genre, "id", "name"), { prompt: "Select Genre", value: :categories_id}, { :class => 'form-control form-search-control bg-white border-0', :id => 'exampleFormControlSelect1' }) %>
    </div>
    <div class="form-group">
      <%= form.label 'Library Location' %>
      <%= form.select(:library_location_id, options_from_collection_for_select(@locations, "id", "name"), { prompt: "Select Location" }, { :class => 'form-control form-search-control bg-white border-0', :id => 'exampleFormControlSelect2', :value => @locations }) %>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <%= form.submit class: "btn btn-primary" %>
    <button type="reset" class="btn btn-danger">Reset</button>
  <% end %>
</div>