<!--
<p id="notice"><%#= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @books.each do |book| %>
      <tr>
        <td><%#= book.title %></td>
        <td><%#= book.author %></td>
        <td><%#= book.categories %></td>
        <td><%#= link_to 'Show', book %></td>
        <td><%#= link_to 'Edit', edit_book_path(book) %></td>
        <td><%#= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Book', new_book_path %>
-->
<% if current_user.is_admin != true %>
  <!-- Page Content  -->
  <div id="content-page" class="content-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="iq-card-transparent mb-0">
            <div class="d-block text-center">
              <h2 class="mb-3">Search by Book Library</h2>
              <div class="w-100 iq-search-filter">
                <%= form_for 'books', :url => {:action =>'search'}, :html => {:method => "get"} do |f| %>
              <ul class="list-inline p-0 m-0 row justify-content-center search-menu-options">
                <li class="search-menu-opt">
                    <div class="iq-dropdown">
                      <div class="form-group mb-0">
                        <%= select_tag "genre_id", options_from_collection_for_select(@genre, "id", "name"), prompt: "Select Genre", class: "form-control form-search-control bg-white border-0", id: 'exampleFormControlSelect2' %>
                      </div>
                    </div>
                  </li>
                  <li class="search-menu-opt">
                    <div class="iq-dropdown">
                      <div class="form-group mb-0">
                        <%= select_tag "library_location_id", options_from_collection_for_select(@locations, "id", "name"), prompt: "Select Location", class: "form-control form-search-control bg-white border-0", id: 'exampleFormControlSelect1' %>
                      </div>
                    </div>
                  </li>
                  <li class="search-menu-opt">
                    <div class="iq-search-bar search-book d-flex align-items-center">
                      <button type="submit" class="btn btn-primary search-data ml-2">Search</button>
                    </div>
                  </li>
                </ul>
                <% end %>
              </div>
            </div>
          </div>
          <div class="iq-card">

            <div class="iq-card-body">
              <div class="row">
                <% @books.each do |book| %>
                  <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height search-bookcontent">
                      <div class="iq-card-body p-0">
                        <div class="d-flex align-items-center">
                          <div class="col-6 p-0 position-relative image-overlap-shadow">
                            <a href="javascript:void();"><img class="img-fluid rounded w-100" src="<%= image_path("search-book/01.jpg") %>" alt=""></a>
                            <div class="view-book">
                              <a href="#" class="btn btn-sm btn-white">Rent Book</a>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="mb-2">
                              <h6 class="mb-1"><%= book.title %></h6>
                              <p class="font-size-13 line-height mb-1"><%= book.author %></p>
                              <div class="d-block">
                                <span class="font-size-13 text-warning">
                                  Genre: <%= book.categories.name %>
                                </span>
                                <br>
                                <span class="font-size-13 text-success">
                                  Library: <%= book.library_location.name %>
                                </span>
                              </div>
                            </div>
                            <div class="price d-flex align-items-center">
                              <span class="pr-1 old-price">$0</span>
                              <h6><b>Available</b></h6>
                            </div>
                            <div class="iq-product-action">
                              <a href="javascript:void();"><i class="ri-shopping-cart-2-fill text-primary"></i></a>
                              <a href="javascript:void();" class="ml-2"><i class="ri-heart-fill text-danger"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.is_admin == true %>
  <!-- Page Content  -->
  <div id="content-page" class="content-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
              <div class="iq-header-title">
                <h4 class="card-title">Book Lists</h4>
              </div>
              <div class="iq-card-header-toolbar d-flex align-items-center">
                <a href="<%= new_book_path %>" class="btn btn-primary text-white">Add New Library</a>
              </div>
            </div>
            <div class="iq-card-body">
              <div class="table-responsive">
                <table class="data-tables table table-striped table-bordered" style="width:100%">
                  <thead>
                  <tr>
                    <th width="10%">Title</th>
                    <th width="10%">Author</th>
                    <th width="10%">Genre</th>
                    <th width="55%">Library</th>
                    <th width="10%">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @books.each do |book| %>
                    <tr>
                      <td><%= book.title %></td>
                      <td><%= book.author %></td>
                      <td><%= book.categories.name %></td>
                      <td><%= book.library_location.name %></td>
                      <td>
                        <div class="flex align-items-center list-user-action">
                          <a class="bg-primary text-white" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="<%= edit_book_path(book) %>"><i class="las la-edit"></i></a>
                          <%= link_to book, method: :delete, data: {confirm: 'Are you sure?'}, class: "bg-primary text-white" do %>
                            <i class="las la-trash-alt"></i>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>